page-login {

}

#not_yet_registered {
  vertical-align: -webkit-baseline-middle;
}

.logo {
    width: 50%;
    margin: auto;
    max-height: 50vh;
}

.bg-gradient{
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #478aff), color-stop(1, #fe6600));
  background-image: -o-linear-gradient(to bottom left, #fe6600 0%, #478aff 100%);
  background-image: -moz-linear-gradient(to bottom left, #fe6600 0%, #478aff 100%);
  background-image: -webkit-linear-gradient(to bottom left, #fe6600 0%, #478aff 100%);
  background-image: -ms-linear-gradient(to bottom left, #fe6600 0%, #478aff 100%);
  background-image: linear-gradient(to bottom left, #fe6600 0%, #478aff 100%);


}

.login-content{
    a {
      color: white;
    }

    form {
      ion-item {
        background-color: transparent;
        padding-left: 0;
      }

      ion-label {
        color: white !important;
      }
    }

    input.text-input {
        color: white;
    }
}

.bg-img {
  background:
    /* top, transparent black */
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url("/assets/img/bg-img.jpg")
    /* X-axis translation*/
    -85px;
    background-size: cover;
}
