page-login {

}

#not_yet_registered {
  vertical-align: -webkit-baseline-middle;
}

.logo {
    width: 50%;
    margin: auto;
    max-height: 50vh;
}

.bg-gradient{
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #478aff), color-stop(1, #fe6600));
  background-image: -o-linear-gradient(to bottom left, #fe6600 0%, #478aff 100%);
  background-image: -moz-linear-gradient(to bottom left, #fe6600 0%, #478aff 100%);
  background-image: -webkit-linear-gradient(to bottom left, #fe6600 0%, #478aff 100%);
  background-image: -ms-linear-gradient(to bottom left, #fe6600 0%, #478aff 100%);
  background-image: linear-gradient(to bottom left, #fe6600 0%, #478aff 100%);

  a {
    color: white;
  }

  form {
    ion-item {
      background-color: transparent;
    }

    ion-label {
      color: white !important;
    }

    .item-md {
      padding-left: 0;
    }
  }
}
